.footer {
  width: 100%;
  height: auto;
  background-color: #4c5a73;
  padding: 25px 85px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
}
.footer-nav {
  display: grid;
  grid-template-columns: 30% 70%;
  border-bottom: 1px solid #ffffff65;
  padding-bottom: 10px;
}
.footer-nav-link {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 50px;
  font-size: 22px;
  color: #fff;
  list-style: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
}
.footer-contact {
  display: flex;
  justify-content: space-around;
  color: #fff;
  margin-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ffffff65;
}
.contact-cart__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
}
.contact-cart__item img {
  max-width: 45%;
}
.image {
  max-width: 65px !important;
}
.contact-cart__item h3 {
  font-size: 32px;
  line-height: 35px;
  margin-top: -10px;
}
.contact-cart__item p {
  font-size: 18px;
  line-height: 20px;
}
.invoice-uz {
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
  padding-bottom: 30px;

  color: #ffffff;
}
@media screen and (max-width: 800px) {
  .footer {
    padding: 12px 35px;
  }
  .footer-nav-link {
    font-size: 16px;
  }
  .contact-cart__item h3 {
    font-size: 22px;
  }
  .contact-cart__item img {
    max-width: 50px;
  }
  .image {
    max-width: 50px !important;
  }
  .logo {
    max-width: 80px;
  }
  .contact-cart__item p {
    font-size: 14px;
    font-weight: normal;
  }
}
@media screen and (max-width: 800px) {
  .footer-contact {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-cart__item {
    margin-top: 20px;
  }
  .footer-nav-link {
    gap: 20px;
  }
  .invoice-uz {
    font-size: 14px;
  }
}
