.tariff-plans {
  text-align: center;
  margin-bottom: 40px;
}
.plan-info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
}
.plan-info h4 {
  font-size: 30px;
  line-height: 39px;

  color: #4c5a73;
}
.plan-info h3 {
  font-size: 54px;
  line-height: 68px;

  color: #000000;

  opacity: 0.87;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.plan-info p {
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;

  color: #000000;

  opacity: 0.87;
}
.swiper {
  margin-top: 50px;
  border-radius: 15px;
  height: auto;
  padding: 20px !important;
  max-width: 1000px;
}
.plan-slide {
  border-radius: 15px !important;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.164);
}
/* .plan-slide:hover {
  background-color: #4c5a73 !important;
  color: #fff;
  transform: scale(1.1);
  border-radius: 15px;
  transition: all 0.5s ease;
} */

.slide-active {
  background-color: #4c5a73 !important;
  color: #fff;
  transform: scale(1.1);
  border-radius: 15px;
}
.btn-active {
  background-color: #fff !important;
  color: #000000 !important;
  font-weight: 600;
}
.btn-active:hover {
  background-color: #4c5a73 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}
.plan-slide h4,
h3 {
  padding-top: 28px;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
}
.plan-slide h3 {
  font-size: 32px;
}
.plan-slide p {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding: 30px 20px;
}
.plan-btn {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  background-color: #4c5a73;
  width: 165px;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-bottom: 40px;
}
.plan-btn:hover {
  background-color: #fff;
  color: #4c5a73;
  border: 1px solid #4c5a73;
  cursor: pointer;
  transition: all 0.4s;
}
@media screen and (max-width: 1100px) {
  .btn-active,
  .slide-active {
    display: none;
  }
  .plan-info h4 {
    font-size: 26px;
    line-height: 35px;
  }
  .plan-info h3 {
    font-size: 44px;
    line-height: 58px;
  }
  .plan-info {
    font-size: 26px;
  }
}
